[submodule "backend"]
	path = backend
	url = https://github.com/HenokEshetu/Real-time_Threat_Intelligence_Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/HenokEshetu/Real-time_Threat_Intelligence_Frontend
